{{template "base" .}}


{{define "content"}}
    <div class="row">
            <div class="col"><br><br>
                <h1> This is the home page {{index .StringMap "name"}} Done 2 2</h1>
            </div>
    </div>
{{end}}